<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>My Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</head>
<body>
  <h1 id="welcome">Bienvenido a mi foro!</h1>
  <!-- Your dynamic content goes here -->
  <p id="foroc">Haz un foro por ti mismo!</p>
  <button id="createforum">Crea un foro!</button>
  <u1 id="forumList"></u1>

</body>
</html>
